<div>
  <div class="row justify-content-center"><h3 l10nTranslate>conferences.conferences</h3></div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="row justify-content-end">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="toggleAddConferenceModal(addConferenceModal)"
                  l10nTranslate>
            conferences.add_conference
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="conferences && conferences.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="thead-dark">
        <th scope="col" l10nTranslate>conferences.name</th>
        <th scope="col" l10nTranslate>conferences.date</th>
        <th scope="col" l10nTranslate>conferences.time</th>
        <th scope="col" l10nTranslate>conferences.status</th>
        <th scope="col" l10nTranslate>conferences.room</th>
        <th scope="col" l10nTranslate>conferences.number_of_participants</th>
        <th scope="col" l10nTranslate>conferences.actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conference of conferences">
        <td>{{conference.name}}</td>
        <td>{{conference.date}}</td>
        <td>{{conference.time}}</td>
        <td><b class="text-info" l10nTranslate>conference_status.{{conference.conferenceStatus}}</b></td>
        <td>
          <b *ngIf="conference.room; else elseBlock">{{conference.room.name}}</b>
          <ng-template #elseBlock><b>N/A</b></ng-template>
        </td>
        <td>{{conference.numberOfParticipants}}</td>
        <td>
          <div class="text-center">
            <button *ngIf="!conference.room && conference.conferenceStatus !== 'CANCELED'"
                    type="button" class="btn btn-secondary" (click)="toggleAddRoomModal(addRoomModal, conference.id)"
                    l10nTranslate>conferences.add_room
            </button>
            <span>&nbsp;</span>
            <button *ngIf="conference.conferenceStatus !== 'CANCELED'"
                    type="button" class="btn btn-secondary" (click)="cancelConference(conference.id)" l10nTranslate>
              btn.cancel
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
                    [rotate]="true"
                    (pageChange)="loadPage($event)"></ngb-pagination>
  </div>

  <div class="row justify-content-center" *ngIf="!conferences || conferences.length == 0" l10nTranslate>msg.no_results
  </div>

  <ng-template #addConferenceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" l10nTranslate>conferences.add_conference</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addConferenceForm" (ngSubmit)="addConference()">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label control-label required font-weight-bold"
                 l10nTranslate>conferences.name</label>
          <div class="col-sm-8">
            <input id="name" formControlName="name" class="form-control"
                   [ngClass]="{ 'is-invalid': addConferenceFormSubmitted && conferenceForm.name.errors }"/>
            <div *ngIf="addConferenceFormSubmitted && !!conferenceForm.name.errors" class="invalid-feedback">
              <div *ngIf="!!conferenceForm.name.errors.required" l10nTranslate>validation.name_required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label control-label required font-weight-bold"
                 l10nTranslate>conferences.date</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input id="date" class="form-control"
                     formControlName="date" placeholder="yyyy-mm-dd"
                     ngbDatepicker #d1="ngbDatepicker"
                     [ngClass]="{ 'is-invalid': addConferenceFormSubmitted && conferenceForm.date.errors }">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
              </div>
              <div *ngIf="addConferenceFormSubmitted && !!conferenceForm.date.errors" class="invalid-feedback">
                <div *ngIf="!!conferenceForm.date.errors.required" l10nTranslate>validation.date_required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="time" class="col-sm-2 col-form-label control-label required font-weight-bold"
                 l10nTranslate>conferences.time</label>
          <div class="col-sm-8">
            <ngb-timepicker id="time" formControlName="time"
                            [minuteStep]="15" [size]="'small'" required></ngb-timepicker>
            <div *ngIf="addConferenceFormSubmitted && !!conferenceForm.time.errors" class="small form-text text-danger">
              <div *ngIf="!!conferenceForm.time.errors.required" l10nTranslate>validation.time_required</div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success" l10nTranslate>btn.save</button>
        &nbsp;
        <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
      </form>

    </div>
  </ng-template>

  <ng-template #addRoomModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" l10nTranslate>conferences.add_room</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="availableRooms.length > 0; else noRooms">
        <form [formGroup]="addRoomForm" (ngSubmit)="addRoom()">
          <div class="form-group">
            <label for="roomId" class="col-form-label control-label required font-weight-bold"
                   l10nTranslate>conferences.select_room</label>
            <select id="roomId" formControlName="roomId" class="form-control"
                    [ngClass]="{ 'is-invalid': addRoomFormSubmitted && roomForm.roomId.errors }">
              <option [value]="room.id" *ngFor="let room of availableRooms">{{room.name}}
              </option>
            </select>
            <div *ngIf="addRoomFormSubmitted && !!roomForm.roomId.errors" class="invalid-feedback">
              <div *ngIf="!!roomForm.roomId.errors.required" l10nTranslate>validation.room_required</div>
            </div>
          </div>
          <button type="submit" class="btn btn-success" l10nTranslate>btn.save</button>
          &nbsp;
          <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
        </form>
      </div>
      <ng-template #noRooms>
        <div l10nTranslate>msg.no_results</div>
        <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
      </ng-template>
    </div>
  </ng-template>
</div>
