<div id="nav">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top bg-dark-blue">

  <span class="navbar-brand">
    <img src="../../assets/img/logo_tallinksilja_white.svg" alt="Logo">
  </span>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['conferences']" class="nav-link" routerLinkActive="nav-link-active"
             l10nTranslate>nav_bar.conferences</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['participants']" class="nav-link" routerLinkActive="nav-link-active"
             l10nTranslate>nav_bar.participants</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['rooms']" class="nav-link" routerLinkActive="nav-link-active"
             l10nTranslate>nav_bar.rooms</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button"
             l10nTranslate>
            nav_bar.lang
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" *ngFor="let item of schema" (click)="setLocale(item.locale)">{{ item.text }}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
