<div>
  <div class="row justify-content-center"><h3 l10nTranslate>participants.participants</h3></div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="row justify-content-end">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="toggleAddParticipantModal(addParticipantModal)"
                  l10nTranslate>
            participants.add_participant
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="participants && participants.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="thead-dark">
        <th scope="col" l10nTranslate>participants.full_name</th>
        <th scope="col" l10nTranslate>participants.birth_date</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let participant of participants">
        <td>{{participant.fullName}}</td>
        <td>{{participant.birthDate}}</td>
        <td>
          <div class="text-center">
            <button type="button" class="btn btn-success" (click)="onRowSelected(participant.id)"
                    l10nTranslate>btn.select
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
                    [rotate]="true"
                    (pageChange)="loadPage($event)"></ngb-pagination>
  </div>

  <div class="row justify-content-center" *ngIf="!participants || participants.length == 0" l10nTranslate>msg.no_results
  </div>

  <app-participant-conferences *ngIf="selectedParticipantId"
          [participantId]="selectedParticipantId"></app-participant-conferences>

  <ng-template #addParticipantModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" l10nTranslate>participants.add_participant</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addParticipantForm" (ngSubmit)="addParticipant()">
        <div class="form-group">
          <label for="fullName" class="col-form-label control-label required font-weight-bold"
                 l10nTranslate>participants.full_name</label>
          <input id="fullName" type="text" formControlName="fullName" class="form-control"
                 [ngClass]="{ 'is-invalid': addParticipantFormSubmitted && participantForm.fullName.errors }"/>
          <div *ngIf="addParticipantFormSubmitted && !!participantForm.fullName.errors" class="invalid-feedback">
            <div *ngIf="!!participantForm.fullName.errors.required" l10nTranslate>validation.full_name_required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate" class="col-form-label control-label required font-weight-bold"
                 l10nTranslate>participants.birth_date</label>
          <div class="input-group">
            <input id="birthDate" class="form-control"
                   formControlName="birthDate" placeholder="yyyy-mm-dd"
                   ngbDatepicker #d1="ngbDatepicker"
                   [ngClass]="{ 'is-invalid': addParticipantFormSubmitted && participantForm.birthDate.errors }">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
            </div>
            <div *ngIf="addParticipantFormSubmitted && !!participantForm.birthDate.errors" class="invalid-feedback">
              <div *ngIf="!!participantForm.birthDate.errors.required" l10nTranslate>validation.birth_date_required
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" l10nTranslate>btn.save</button>
        &nbsp;
        <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
      </form>
    </div>
  </ng-template>
</div>
