<div>
  <div class="row justify-content-center"><h4 l10nTranslate>participant_conferences.header</h4></div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="row">
    <b>{{participantDetails.fullName}} {{participantDetails.birthDate}}</b>
  </div>

  <div class="row"
       *ngIf="participantDetails && participantDetails.conferences && participantDetails.conferences.length > 0; else elseBlock">
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="thead-dark">
        <th scope="col" l10nTranslate>conferences.name</th>
        <th scope="col" l10nTranslate>conferences.date</th>
        <th scope="col" l10nTranslate>conferences.time</th>
        <th scope="col" l10nTranslate>conferences.room</th>
        <th scope="col" l10nTranslate>conferences.actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conference of participantDetails.conferences">
        <td>{{conference.name}}</td>
        <td>{{conference.date}}</td>
        <td>{{conference.time}}</td>
        <td>
          <b *ngIf="conference.room; else elseRoomBlock">{{conference.room.name}}</b>
          <ng-template #elseRoomBlock><b>N/A</b></ng-template>
        </td>
        <td>
          <div class="text-center">
            <button type="button" class="btn btn-danger" (click)="removeFromConference(conference.id)"
                    l10nTranslate>btn.remove
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #elseBlock>
    <div class="row justify-content-center" l10nTranslate>msg.no_results</div>
  </ng-template>
  <div class="row justify-content-end">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="toggleAddToConferenceModal(addToConferenceModal)"
                  l10nTranslate>
            participant_conferences.add_to_conference
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #addToConferenceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" l10nTranslate>participant_conferences.add_to_conference</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" *ngIf="availableConferences.length > 0; else noAvaliableBlock">
        <table class="table table-bordered table-striped text-center">
          <thead>
          <tr class="thead-dark">
            <th scope="col" l10nTranslate>conferences.name</th>
            <th scope="col" l10nTranslate>conferences.date</th>
            <th scope="col" l10nTranslate>conferences.time</th>
            <th scope="col" l10nTranslate>conferences.room</th>
            <th scope="col" l10nTranslate>conferences.actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let conference of availableConferences">
            <td>{{conference.name}}</td>
            <td>{{conference.date}}</td>
            <td>{{conference.time}}</td>
            <td>
              <b *ngIf="conference.room; else elseBlock">{{conference.room.name}}</b>
              <ng-template #elseBlock><b>N/A</b></ng-template>
            </td>
            <td>
              <div class="text-center">
                <button type="button" class="btn btn-success" (click)="selectConference(conference.id)"
                        l10nTranslate>btn.select
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
                        [rotate]="true"
                        (pageChange)="loadPage($event)"></ngb-pagination>

      </div>
      <ng-template #noAvaliableBlock>
        <div class="row justify-content-center" l10nTranslate>msg.no_results</div>
      </ng-template>
      <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
    </div>
  </ng-template>
</div>
