<div>
  <div class="row justify-content-center"><h3 l10nTranslate>rooms.rooms</h3></div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="row justify-content-end">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="toggleAddRoomModal(addRoomModal)"
                  l10nTranslate>
            rooms.add_room
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="rooms && rooms.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="thead-dark">
        <th scope="col" l10nTranslate>rooms.name</th>
        <th scope="col" l10nTranslate>rooms.location</th>
        <th scope="col" l10nTranslate>rooms.max_seats</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{room.name}}</td>
        <td>{{room.location}}</td>
        <td>{{room.maxSeats}}</td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
                    [rotate]="true"
                    (pageChange)="loadPage($event)"></ngb-pagination>
  </div>

  <div class="row justify-content-center" *ngIf="!rooms || rooms.length == 0" l10nTranslate>msg.no_results
  </div>

  <ng-template #addRoomModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" l10nTranslate>rooms.add_room</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addRoomForm" (ngSubmit)="addRoom()">
        <div class="form-group">
          <label for="name" class="col-form-label control-label required font-weight-bold"
                 l10nTranslate>rooms.room_name</label>
          <input id="name" type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': addRoomFormSubmitted && roomForm.name.errors }"/>
          <div *ngIf="addRoomFormSubmitted && !!roomForm.name.errors" class="invalid-feedback">
            <div *ngIf="!!roomForm.name.errors.required" l10nTranslate>validation.room_name_required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-form-label control-label required font-weight-bold"
                 l10nTranslate>rooms.room_location</label>
          <input id="location" type="text" formControlName="location" class="form-control"
                 [ngClass]="{ 'is-invalid': addRoomFormSubmitted && roomForm.location.errors }"/>
          <div *ngIf="addRoomFormSubmitted && !!roomForm.location.errors" class="invalid-feedback">
            <div *ngIf="!!roomForm.location.errors.required" l10nTranslate>validation.location_required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="maxSeats" class="col-form-label control-label required font-weight-bold"
                 l10nTranslate>rooms.max_seats</label>
          <input id="maxSeats" type="number" formControlName="maxSeats" class="form-control"
                 [ngClass]="{ 'is-invalid': addRoomFormSubmitted && roomForm.maxSeats.errors }"/>
          <div *ngIf="addRoomFormSubmitted && !!roomForm.maxSeats.errors" class="invalid-feedback">
            <div *ngIf="!!roomForm.maxSeats.errors.required" l10nTranslate>validation.max_seats_required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" l10nTranslate>btn.save</button>
        &nbsp;
        <button class="btn btn-danger" (click)="modal.close('Close click')" l10nTranslate>btn.cancel</button>
      </form>
    </div>
  </ng-template>
</div>


